<h1>Books</h1>

<div>
  <h4>Title</h4>
  <% @books.each do |book| %>
    <ul>
      <li><%= book.title %></li>
    </ul>
  <% end %>
</div>
<div>
  <h4>Body</h4>
  <% @books.each do |book| %>
    <ul>
      <li>
        <span><%= book.body %></span>
        <span>Show</span><span>Edit</span><span>Destroy</span>
      </li>
    </ul>
  <% end %>
</div>
<h2>New book</h2>
<%= form_with model: Book.new do |f| %>
  <p>title</p>
  <%= f.text_field :title %>
  <p>body</p>
  <p><%= f.text_area :body %></p>
  <p><%= f.submit 'Create Book' %></p>
<% end %>