<html>
  <head>
    <title>bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="create-notice">
      <%= flash[:notice] %>
    </div>
    <div class="show">
      <div class="show-title">
        <h4 class="show-categoly">Title:</h4>
        <p><%= @book.title %></p>
      </div>

      <div class="show-body">
        <h4 class="show-categoly">Body:</h4>
        <p><%= @book.body %></p>
      </div>
      <p class="show-btn"><%= link_to 'Edit', edit_book_path(@book.id) %> | <%= link_to 'Back', '/books' %></p>
    </div>
  </body>
</html>